<app-modal-header [data]="modalHeader" (onAction)="close($event)"></app-modal-header>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card tab2-card">

        <div class="card-body">
          <ngb-tabset class="tab-coupon">
            <ngb-tab title="Categories">
              <ng-template ngbTabContent>
                <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">
                  <form [formGroup]="productsForm" class="needs-validation user-add" novalidate="">
                    <h4>Category Details</h4>
                    <div class="form-group row">
                      <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                        Name</label>
                      <input class="form-control col-xl-8 col-md-7" id="validationCustom0" type="text" required=""
                        formControlName="name">
                    </div>
                    <div class="form-group row">
                      <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                        Description</label>
                      <input class="form-control col-xl-8 col-md-7" id="validationCustom1" type="text" required=""
                        formControlName="description">
                    </div>
                    <div class="form-group row">
                      <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                        ContentHTML</label>
                      <input class="form-control col-xl-8 col-md-7" id="validationCustom2" type="text" required=""
                        formControlName="contentHTML">
                    </div>
                    <div class="form-group row">
                      <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                        ImageUrl</label>
                      <input class="form-control col-xl-8 col-md-7" id="validationCustom4" type="text" required=""
                        formControlName="imageUrl">
                    </div>
                    <div class="form-group row">
                      <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                        Price</label>
                      <input class="form-control col-xl-8 col-md-7" id="validationCustom5" type="number" required=""
                        formControlName="price">
                    </div>
                    <div class="form-group row">
                      <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                        Category Name</label>
                          <select formControlName="categoryName" >
                            <option *ngFor="let category of categories" [ngValue]="category">
                              {{ category.name }}
                            </option>
                          </select>
                    </div>
                    <div class="form-group row">
                      <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                        Display Order</label>
                      <input class="form-control col-xl-8 col-md-7" id="validationCustom6" type="number" required=""
                        formControlName="displayOrder">
                    </div>
                    <div class="form-group row">
                      <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                        Display Home Page</label>
                      <input class="form-control form-check-input col-xl-7 col-md-6" id="validationCustom7" type="checkbox" required=""
                        formControlName="hasDisplayHomePage">
                    </div>
                    <div class="form-group row">
                      <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                        Is Important</label>
                      <input class="form-control form-check-input col-xl-7 col-md-6" id="validationCustom8" type="checkbox" required=""
                        formControlName="isImportant">
                    </div>

                  </form>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
<app-modal-footer
  [data]="modalFooter"
  (onAction)="save()"
></app-modal-footer>