<app-breadcrumb
  [title]="product?.name"
  [breadcrumb]="product?.name"
></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <owl-carousel-o
            [options]="ProductDetailsMainSliderConfig"
            #owlCar
            class="product-slick"
          >
            <ng-container
              *ngFor="let image of product?.imageUrl.split(','); index as i"
            >
              <ng-template carouselSlide [id]="i">
                <div>
                  <app-image-wrapper
                    [data]="{
                      url: image,
                      type: typeDisplayImage.PRODUCT_DETAIL_MAIN_IMAGE
                    }"
                    (click)="owlCar.to((activeSlide = i.toString()))"
                    class="img-fluid"
                  ></app-image-wrapper>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
          <div class="row">
            <div class="col-12 p-0">
              <div class="slider-nav">
                <owl-carousel-o
                  *ngIf="product?.imageUrl.split(',').length >= 2"
                  [options]="ProductDetailsThumbConfig"
                  class="product-slick"
                >
                  <ng-container
                    *ngFor="
                      let image of product?.imageUrl.split(',');
                      index as i
                    "
                  >
                    <ng-template carouselSlide [id]="i">
                      <div class="owl-thumb" [class.active]="i == activeSlide">
                        <app-image-wrapper
                          [data]="{
                            url: image,
                            type: typeDisplayImage.PRODUCT_DETAIL_IMAGE
                          }"
                          (click)="owlCar.to((activeSlide = i.toString()))"
                        ></app-image-wrapper>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="product-right product-description-box">
            <h2>{{ product?.name | titlecase }}</h2>
            <div class="border-product">
              <h4 class="product-title">product details</h4>
              <p>{{ product?.description.substring(0, 200) + "..." }}</p>
            </div>
            <div>
              <h3>
                {{product?.price | vndFormat}}
              </h3>
            </div>
            <div *ngIf="product?.contentHTML != '' " class="addeffect-section product-description border-product">
              <h3>Description</h3>
              <div [innerHTML]="product?.contentHTML"></div>
            </div>
            <br />
            <div *ngIf="token != null; else loading"  class="addeffect-section product-description border-product">
              <form [formGroup]="ratingForm">
                <ngb-rating
                  [max]="5"
                  [rate]="item ? item.rating : 0"
                  formControlName="rating"
                >
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100"
                      >&#9733;</span
                    >
                  </ng-template>
                </ngb-rating>
                <br />
                <pre>Rate: <b>{{ratingForm.controls?.rating.value}}</b></pre>
                <br />
                <button class="btn btn-primary" (click)="saveRating($event)">
                  Save
                </button>
              </form>
            </div>
            <div class="addeffect-section product-description border-product">
                <a 
                href="javascrip:void(0)" 
                class="btn btn-solid" 
                (click)="CartModal.openModal(product)"
                *ngIf="cartModal">add to cart
              </a>
              <a
              href="javascript:void(0)"
              class="btn btn-solid" 
              (click)="addToCart(product)"
              *ngIf="!cartModal"
              >add to cart
              </a>
            </div>

            <ng-template #loading>
              <button class="btn btn-primary" [routerLink]="['/auth/login']">
                You need to login to rate this product
              </button>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <section class="tab-product m-0">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <ngb-tabset [type]="'tabs'" class="nav-material">
            <ngb-tab>
              <ng-template ngbTabTitle>Comments</ng-template>
              <ng-template ngbTabContent>
                <app-comment-detail
                  *ngIf="comments"
                  (action)="changePageIndex($event)"
                  [comments]="comments"
                ></app-comment-detail>
              </ng-template>
            </ngb-tab>
            <ngb-tab *ngIf="user">
              <ng-template ngbTabTitle>Write Review</ng-template>
              <ng-template ngbTabContent>
                <app-comment
                  [dataComment]="dataComment"
                  (action)="getComments()"
                ></app-comment>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </section>
  </div>
</section>
<app-size-modal #sizeChart [product]="product"></app-size-modal>
<!-- Section ends -->
<app-cart-modal
#cartModal
*ngIf="cartModal"
  [product]="product"
></app-cart-modal>
