/* You can add global styles to this file, and also import other style files */
.productImage {
  max-height: 300px;
  max-width: fit-content;
}

.blogImage {
  max-height: 300px;
  max-width: fit-content;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.blog-detail {
  width: 50%;
}
.product-details{
  height: 200px;
  width: 150px;
  display: inline-block;
}
.product-details-main{
  max-height: 400px;
  max-width: 400px;
  display: inline-block;
}