<owl-carousel-o [options]="BlogSliderConfig" class="no-arrow">
  <ng-container *ngFor="let blog of blogs">
    <ng-template carouselSlide>
      <div class="col-md-12">
        <a [routerLink]="">
          <div class="classic-effect">
            <img [src]="getImage(blog.imageUrl)" class="img-fluid" alt="blog">
            <span></span>
          </div>
        </a>
        <div class="blog-details">
          <h4>{{getDate(blog.createByDate)}}</h4>
          <a [routerLink]="">
            <p>{{blog.title}}</p>
          </a>
          <hr class="style1">
          <h6> {{ 'by:' +blog.createdByName}} , {{ '2 Comment' }}</h6>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>