<owl-carousel-o [options]="BlogSliderConfig" class="no-arrow">
  <ng-container *ngFor="let blog of blogs">
    <ng-template carouselSlide>
      <div class="col-md-12">
        <a [routerLink]="">
          <div class="classic-effect">
            <app-image-wapper
              [data]="{
                title: blog.title,
                url: getImage(blog.imageUrl),
                type: typeDisplayImage.BLOG_IMAGE
              }"
            ></app-image-wapper>
            <span></span>
          </div>
        </a>
        <div class="blog-details">
          <h4>{{ getDate(blog.createByDate) }}</h4>
          <a [routerLink]="'/pages/blog/details'">
            <p>{{ blog.title }}</p>
          </a>
          <hr class="style1" />
          <h6 style="word-wrap: break-word">{{ blog.shortDes }}</h6>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
