<app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
  <div class="container padding-cls">
    <div class="checkout-page">
      <div class="checkout-form">
        <form>
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-title">
                <h3>Billing Details</h3>
              </div>

              <div class="container-fluid">

                <div class="card-body">

                  <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <form [formGroup]="bannersForm" class="needs-validation user-add" novalidate="">
                      <h4>Banner Details</h4>
                      <div class="form-group row">
                        <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                          Title</label>
                        <input class="form-control col-xl-8 col-md-7" id="validationCustom0" type="text" required
                          formControlName="title">
                        <span class="text-danger"
                          *ngIf="(bannersFormControl.title.touched || submitted) && bannersFormControl.title.errors?.required">
                          Title is required
                        </span>
                      </div>
                      <div class="form-group row">
                        <label for="" class="col-xl-3 col-md-4"><span>&nbsp;</span>
                          Description</label>
                        <input class="form-control col-xl-8 col-md-7" id="" type="text" formControlName="description">
                      </div>
                      <div class="form-group row">
                        <label for="" class="col-xl-3 col-md-4"><span>&nbsp;</span>
                          Link</label>
                        <input class="form-control col-xl-8 col-md-7" id="validationCustom1" type="text" required=""
                          formControlName="link">
                      </div>
                      <div class="form-group row">
                        <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span>
                          ImageUrl</label>
                        <input class="form-control col-xl-8 col-md-7" id="validationCustom2" type="text" required=""
                          formControlName="imageURL" hidden>
                        <app-upload-file [data]="modalFile" [fileURL]="fileURL" styleFile="width: 200px; height: auto;"
                          (onChange)="onChangeData($event)"></app-upload-file>
                        <span class="text-danger"
                          *ngIf="(bannersFormControl.imageURL.touched || submitted) && bannersFormControl.imageURL.errors?.required">
                          ImageURL is required
                        </span>
                      </div>
                      <div class="form-group row">
                        <label for="validationCustom3" class="col-xl-3 col-md-4"><span>*</span>
                          Display Order</label>
                        <input class="form-control col-xl-8 col-md-7" id="validationCustom3" type="number" required=""
                          formControlName="displayOrder">
                        <span class="text-danger"
                          *ngIf="(bannersFormControl.displayOrder.touched || submitted) && bannersFormControl.displayOrder.errors?.required">
                          Display Order is required
                        </span>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
              <!-- <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12"><span>*</span>
                  <div class="field-label">First Name</div>
                  <input type="text" name="field-name" value="" placeholder="">
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12"><span>*</span>
                  <div class="field-label">Last Name </div>
                  <input type="text" name="field-name" value="" placeholder="">
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12"><span>*</span>
                  <div class="field-label">Phone</div>
                  <input type="text" name="field-name" value="" placeholder="">
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12"><span>*</span>
                  <div class="field-label">Email Address</div>
                  <input type="text" name="field-name" value="" placeholder="">
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12"><span>*</span>
                  <div class="field-label">Address</div>
                  <input type="text" name="field-name" value="" placeholder="Street address">
                </div>
              </div> -->
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-details">
                <div class="order-box">
                  <div class="title-box">
                    <div>Product <span> Total</span></div>
                  </div>
                  <ul class="qty" *ngFor="let product of products">
                    <li>{{product.name}} x {{product.quantity}} <span>{{ product.quantity * product.price |
                        currency:'VND'}}
                      </span></li>
                    <!-- <li>Pink Slim Shirt × 1 <span>$25.10</span></li>
                      <li>SLim Fit Jeans × 1 <span>$555.00</span></li> -->
                  </ul>
                  <ul class="sub-total">
                    <li>Subtotal <span class="count">{{totalPrice | currency:'VND'}}</span></li>
                    <!-- <li>Shipping <div class="shipping">
                        <div class="shopping-option">
                          <input type="checkbox" name="free-shipping" id="free-shipping">
                          <label for="free-shipping">Free Shipping</label>
                        </div>
                        <div class="shopping-option">
                          <input type="checkbox" name="local-pickup" id="local-pickup">
                          <label for="local-pickup">Local Pickup</label>
                        </div>
                      </div>
                      </li> -->
                  </ul>

                  <ul class="total">
                    <li>Total <span class="count">{{totalPrice | currency:'VND'}}</span></li>
                  </ul>
                </div>

                <div class="payment-box">
                  <div class="text-right">
                    <a [routerLink]="['shop/checkout']" class="btn-solid btn">Place Order</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- section End -->