<app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
  <div class="container padding-cls">
    <div class="checkout-page">
      <div class="checkout-form">
        <form>
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-title">
                <h3>Billing Details</h3>
              </div>
              <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">First Name</div>
                  <input type="text" name="field-name" value="" placeholder="">
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Last Name </div>
                  <input type="text" name="field-name" value="" placeholder="">
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Phone</div>
                  <input type="text" name="field-name" value="" placeholder="">
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Email Address</div>
                  <input type="text" name="field-name" value="" placeholder="">
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Address</div>
                  <input type="text" name="field-name" value="" placeholder="Street address">
                </div>
              </div>
           
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-details">
                <div class="order-box">
                  <div class="title-box">
                    <div>Product <span> Total</span></div>
                  </div>
                  <ul class="qty" *ngFor="let product of products">
                    <li>{{product.name}} x {{product.quantity}} <span>{{ product.quantity * product.price |
                        currency:'VND'}}
                      </span></li>
                    <!-- <li>Pink Slim Shirt × 1 <span>$25.10</span></li>
                      <li>SLim Fit Jeans × 1 <span>$555.00</span></li> -->
                  </ul>
                  <ul class="total">
                    <li>Total <span class="count">{{totalPrice | currency:'VND'}}</span></li>
                  </ul>
                </div>

                <div class="payment-box">
                  <div class="text-right">
                    <a [routerLink]="['shop/checkout']" class="btn-solid btn">Place Order</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- section End -->