.comments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.media {
  border-top: 1px solid gray;
  padding: 20px 20px 20px 0 !important ;
}

h6 {
  font-weight: bold;
  font-size: larger;
}

span {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}
