<div [ngClass]="['row', class ? class : '']" *ngIf="allUser.length > 0">
  <div class="col-12">
    <ul class="comments">
      <li *ngFor="let comment of comments.results">
        <div class="media">
          <app-image-wrapper
            class="flex-shrink-0"
            [data]="{
              url: getCustomerImage(comment.customerId),
              typeClass: typeDisplayImage.COMMENT_IMAGE_CUSTOMER
            }"
          ></app-image-wrapper>
          <div class="media-body">
            <h6>
              {{ comment.fullName }}
              <span>( {{ getDate(comment.createByDate) }} )</span>
            </h6>
            <p>{{ comment.content }}</p>
          </div>
        </div>
      </li>
    </ul>
    <ngb-pagination
      class="d-flex justify-content-end mt-3"
      [collectionSize]="comments.totalItem"
      [(page)]="page"
      (pageChange)="pageChange($event)"
      [pageSize]="comments.pageSize"
      [boundaryLinks]="true"
      size="sm"
    ></ngb-pagination>
  </div>
</div>
