<ng-container>
  <input
    *ngIf="data.multiBoolen"
    multiple
    type="file"
    accept="{{ data.typeFile }}"
    (change)="onChangeImg($event)"
  />
  <input
    *ngIf="!data.multiBoolen"
    type="file"
    accept="{{ data.typeFile }}"
    (change)="onChangeImg($event)"
  />
  <ng-container *ngFor="let item of fileURL">
    <img [src]="item" [style]="styleFile" />
  </ng-container>
  <!-- <button (click)="onUpdate()">Upload</button> -->
  <div *ngIf="data.listFile" style="position: relative">
    <ng-container *ngIf="data.typeFile == typeIMAGE">
      <ng-container *ngFor="let item of data.listFile">
        <img [src]="getImage(item.url)" [style]="styleFile" />
        <button style="position: absolute" (click)="onRemoveUpdate(item.id)">
          x
        </button>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="data.typeFile != typeIMAGE">
      <ng-container *ngFor="let item of data.listFile">
        <a>{{ item.name }}</a>
        <a [href]="onDownload(item)" [download]="item.name">Download</a> <br />
        <button style="position: absolute" (click)="onRemoveUpdate(item.id)">
          x
        </button>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
