<app-modal-header
  [data]="modalHeader"
  (onAction)="close($event)"
></app-modal-header>
<div class="modal-body" class="card-body" style="margin: auto; width: 50%">
  EnityID:
  <input type="text" placeholder="ID" [(ngModel)]="modalSingleImage.enityId" />
  <br />
  EnityType:
  <select *ngIf="select" [(ngModel)]="modalSingleImage.enityType">
    <option *ngFor="let item of select" value="{{ item.key }}">
      {{ item.value }}
    </option>
  </select>
  <br />
  <app-modal-single-image *ngIf="typeMulti == 1" [data]="modalSingleImage" styleFile="width: 200px; height: auto;"></app-modal-single-image>
  <app-modal-multi-image *ngIf="typeMulti == 2" [data]="modalSingleImage" styleFile="width: 200px; height: auto;"></app-modal-multi-image>
  <app-modal-file *ngIf="typeMulti == 3" [data]="modalSingleImage" styleFile="1"></app-modal-file>
  <app-modal-file *ngIf="typeMulti == 4" [data]="modalSingleImage" styleFile="2"></app-modal-file>
</div>
<app-modal-footer
  [data]="modalFooter"
  (onAction)="save($event)"
></app-modal-footer>
